.ep {
    margin-top: 8%;
    margin-left: 35%;
    height : auto;
    width: 450px;
    box-sizing: border-box;
    padding : 15px 15px;
    border : 1px solid rgb(51, 151, 213);
    border-radius : 8px;
    box-shadow: 0 0 25px rgb(51, 151, 213);
}
.h1e{
    text-align : center;
    color : rgb(51, 151, 213);
}

.ep input[type=submit]{
    margin-top: 1em;
    padding: 8px 30px;
    /* menghilangkan garis pinggir */
    border: none;
    background-color: rgb(51, 151, 213);
    color: white;
    border-radius: 5px;
    margin-left: 160px;
    /* biar cursornya berubah jadi tangan atau telunjuk*/
    cursor: pointer;      
}

.ep input[type=text]{
    width: 95%;
    border: 1px solid black;
    padding: 5px 3px;
    margin: 10px 5px;
    border: 2px solid rgb(51, 151, 213);
}
.ep input[type=password]{
    width: 95%;
    padding: 5px 3px;
    margin: 10px 5px;
    border:2px solid  rgb(51, 151, 213);
}

