.login{
    margin-top: 8%;
    margin-left: 33%;
    height: auto;
    width: 500px;
    box-sizing: border-box;
    padding: 15px 20px;
    border: 1px solid skyblue;
    border-radius: 8px;
    }
    h2{
        text-align: center;
        color: rgb(51, 151, 213);
    }
    
    .login input[type=submit] {
        margin-top: 1em;
        padding: 6px 205px;
        border: none;
        background-color: rgb(51, 151, 213);
        border-radius: 5px;
        color: white;
        margin-left: 10px;
        cursor: pointer;
    }
    .login input[type=text] {
        width: 95%;
        padding: 5px 3px;
        margin: 10px 5px;
        border: 2px solid skyblue;
        border-radius: 5px;
    }
    .login input[type=password] {
        width: 95%;
        padding: 5px 3px;
        margin: 10px 5px;
        border: 2px solid skyblue;
        border-radius: 5px;
    }
    .login a{
        color: rgb(51, 151, 213);
        text-decoration: none;
    }
    
    .login p{
        text-align: center;
    }