.h1p{
    
    color:rgb(51, 151, 213) ;
}
.profil{

    width: 300px;
    padding: 20px;
    margin-left: 36%;
    margin-top: 130px;
    border: 2px solid rgb(51, 151, 213);
    font-size: 18px;
    box-shadow: 0 0 25px rgb(51, 151, 213);

}
.a{

        color: white;
        background-color: rgb(51, 151, 213);
        padding: 3px;
        border-radius: 5px;
        text-decoration: none;
    }

