.tambah {
    margin-top: 5%;
    margin-left: 35%;
    width: 400px;
    box-sizing: border-box;
    padding : 15px 20px;
    border : 1px solid;
    border-radius : 8px;
    box-shadow: 0 0 25px rgb(51, 151, 213);
}
.h1t{
    margin-top : 20px;
    margin-bottom : 20px;
    text-align : center;
    color : rgb(51, 151, 213);
}

.tambah input[type=submit]{
    margin-top: 1em;
    padding: 8px 30px;
    /* menghilangkan garis pinggir */
    border: none;
    background-color: rgb(51, 151, 213);
    color: white;
    border-radius: 5px;
    margin-left: 130px;
    /* biar cursornya berubah jadi tangan atau telunjuk*/
    cursor: pointer;
    
      
}

.tambah input[type=text]{
    width: 95%;
    padding: 5px 3px;
    margin: 10px 5px;
    border:2px solid  rgb(51, 151, 213);
}

.tambah input[type=date]{
    width: 95%;
    border: 1px solid black;
    padding: 5px 3px;
    margin: 10px 5px;
    border: 2px solid rgb(51, 151, 213);
}

select{
    width: 98%;
    padding: 5px 3px;
    margin: 10px 5px;
    border: 2px solid rgb(51, 151, 213);
    
}